@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
    background-color: black;
    text-align: center;
    margin-top: 30px;
}

h1 {
    color: #fff;
    text-align:left;
}

.pad {
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
}

.pad:hover {
    /* border: 1px solid white; */
    box-shadow: inset 0px 0px 0px 6px white;
    box-sizing: border-box;
}

.bottom-right-pad {
    background-color: #0add08;
    border-bottom-right-radius: 100%;
}

.bottom-left-pad {
    background-color: #41fdfe;
    border-bottom-left-radius: 100%;
}

.top-right-pad {
    background-color: #fe019a;
    border-top-right-radius: 100%;
}

.top-left-pad {
    background-color:#cfff04;;
    border-top-left-radius: 100%;
}

.active {
    background-color: white;
}

.middle {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: black;
    left: 532px;
    bottom: 107px;
}
.red {
    background-color: #fe019a;
}

.green {
    background-color: #0add08;
}

.blue {
    background-color: #41fdfe;
}

.yellow {
    background-color: #cfff04;
}